@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-6">
                        <h5 class="card-title">Listado de Tiendas</h5>
                    </div>
                    <div class="col-6">
                        <button class="btn btn-success float-right" id="btnew">Nuevo</button>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <table class="table table-bordered mt-4">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Nombre de Tienda</th>
                                    <th scope="col">Opciones</th>

                                </tr>
                            </thead>
                            <tbody id="tbl">
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Nueva Tienda</h5>
                <button type="button" class="close" onClick="modalOff()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label>Nombre de Tienda</label>
                    <input type="text" class="form-control" id="tienda" />
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" onClick="modalOff()">Cerrar</button>
                <button type="button" id="btnsave" class="btn btn-primary">Guardar</button>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script src="~/js/custom/tienda.js"></script>

}